@using MyHomework20.Models;
@using MyHomework20.Views;
@using ModelLibrary.Auth.Dto;

@model LoginRequest
@{
	ViewData["Title"] = "Вход";
	Layout = "_Layout";
}
<html>
	<head>
		
	</head>
	<body>
	@using (Html.BeginForm("Login", "User", FormMethod.Post))
	{
		<div class="form-group">
			@Html.LabelFor(model => model.UserName)
			@Html.TextBoxFor(model => model.UserName, new{@class ="form-control"})
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Password)
			@Html.TextBoxFor(model => model.Password, new{@class = "form-control"})
		</div>
		<button type="submit" class="btn btn-primary">Войти</button>
	}
	</body>
</html>