@using Homework19.Controllers
@using Homework19.Models

@model ContactBook

@functions{

	public Contact CreateContact([FromForm(Name = "surname")] string surname, [FromForm(Name = "name")] string name,
			[FromForm(Name = "midname")] string midname, [FromForm(Name = "phone)")] int phone, [FromForm(Name = "address")] string address,
			[FromForm(Name = "description")] string description)
	{
		Contact contact = Model.factory.CreateContact(surname, name, midname, phone, address, description);
		return contact;
	}
}

<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" href="~/css/style.css" />
	</head>
	<body>
		<h1 class="title">
			@ViewData["Title"]
		</h1>

		<form name="createForm" asp-controller="Home" asp-action="Create" method="post">

			<label for="surname">
				Фамилия
			</label><br />
			<input type="text" asp-for="surname" value=""/><br />

			<label for="name">
				Имя
			</label><br />
			<input type="text" asp-for="name" value=""/><br />

			<label for="midname">
				Отчество
			</label><br />
			<input type="text" asp-for="midname" value=""/><br />

			<label for="phone">
				Телефон
			</label><br />
			<input type="tel" asp-for="phone" value=""/><br />

			<label for="address">
				Адрес
			</label><br />
			<input type="text" asp-for="address" value=""/><br />

			<label for="description">
				Описание
			</label><br />
			<input type="text" asp-for ="description" value=""/><br />

			<p><input type="submit" value="Создать"/>

				<code>
					@{
					//Context.Items.TryGetValue()
					//var contact = CreateContact();
				}
				</code></p>
		</form>
	</body>
</html>