
@using MyHomework20.Models;
@model MyHomework20.Views.Home.CreateModel
@{
	ViewData["Title"] = "Новый контакт";
	Layout = "_Layout";
}

<html>
	<head>

	</head>

	<body>
		<h1 class="title">
			@ViewData["Title"]
		</h1>
	@using (Html.BeginForm("CreateNew", "Home", FormMethod.Post, true))
	{
		@Html.AntiForgeryToken();

		<label for="Surname">
			Фамилия
		</label><br />
		<input type="text" id="Surname" name="Surname" required/><br />

		<label for="Name">
			Имя
		</label><br />
		<input type="text" id="Name" name="Name" required/><br />

		<label for="Midname">
			Отчество
		</label><br />
		<input type="text" id="Midname" name="Midname" required/><br />

		<label for="Phone">
			Телефон
		</label><br />
		<input type="text" id="Phone" name="Phone" required/><br />

		<label for="Address">
			Адрес
		</label><br />
		<input type="text" id="Address" name="Address" required/><br />

		<label for="Description">
			Описание
		</label><br />
		<input type="text" id="Description" name="Description"/><br />

		<input type="submit" value="Создать">
	}
	</body>
</html>
